.image-reg {
    background-image: url("../../../assets/orientacion.jpg");
    position: static;
    margin-bottom: -21px;
    margin-top: -21px;
    margin-left: -6px;
}

.align-text {
    height: 100%;
    top: 100px;
    display: inline-block;
    vertical-align: middle;
    float: none;
}


/* .logo {
    width: 120px;
    vertical-align: middle;
} */

@media (max-width:767px) {
    div#optionalstuff {
        display: none;
    }
}