<div class="mine-container container">
    <div class="card animated fadeIn" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.541), 0 6px 20px 0 rgba(0, 0, 0, 0.301);">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="card-title text-center">¿Qué tanto te agrada?</h1>
                    <h2 class="card-subtitle mb-2 text-muted text-center">Salir de Excursión</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-sm-2 col-md-2 col-lg-2 text-center">
                    <img class="img-form grow" data-toggle="tooltip" data-placement="top" title="Me agrada bastante" src="../../../assets/5.png" (click)="sumarRespuesta(5)">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span (click)="mostrarDetalle()" class="badge badge-info b-position cursor-bad">10 <i class="fas fa-times-circle"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 text-center">
                    <img class="img-form grow" data-toggle="tooltip" data-placement="top" title="Me agrada algo o en parte" src="../../../assets/4.png" (click)="sumarRespuesta(4)">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span (click)="mostrarDetalle()" class="badge badge-info b-position cursor-bad">10 <i class="fas fa-times-circle"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 text-center">
                    <img class="img-form grow" data-toggle="tooltip" data-placement="top" title="Me es indiferente, pues ni me gusta ni me disgusta" src="../../../assets/3.png" (click)="sumarRespuesta(3)">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span (click)="mostrarDetalle()" class="badge badge-info b-position cursor-bad">10 <i class="fas fa-times-circle"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 text-center">
                    <img class="img-form grow" data-toggle="tooltip" data-placement="top" title="Me desagrada algo o en parte" src="../../../assets/2.png" (click)="sumarRespuesta(2)">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span (click)="mostrarDetalle()" class="badge badge-info b-position cursor-bad">10 <i class="fas fa-times-circle"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 text-center">
                    <img class="img-form grow" data-toggle="tooltip" data-placement="top" title="Me desagrada mucho o totalmente" src="../../../assets/1.png" (click)="sumarRespuesta(1)">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span (click)="mostrarDetalle()" class="badge badge-info b-position cursor-bad">10 <i class="fas fa-times-circle"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
            </div>
            <div class="row" *ngIf="detalle" style="margin-top: 60px;">
                <div class="col-12 animated fadeIn fast">
                    <span class="badge badge-info cursor-bad">Armar y desarmar objetos mecánicos <i class="fas fa-times-circle"></i></span>&nbsp;
                    <span class="badge badge-info cursor-bad">Resolver mecanizaciones numéricas <i class="fas fa-times-circle"></i></span>&nbsp;
                    <span class="badge badge-info cursor-bad">Conocer y estudiar la estructura de las plantas y animales <i class="fas fa-times-circle"></i></span>&nbsp;
                    <span class="badge badge-info cursor-bad">Discutir en clase <i class="fas fa-times-circle"></i></span>&nbsp;
                    <span class="badge badge-info cursor-bad">Dibujar y pintar a colores <i class="fas fa-times-circle"></i></span>&nbsp;
                    <span class="badge badge-info cursor-bad">Escribir cuentos, crónicas o artículos <i class="fas fa-times-circle"></i></span>&nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center" style="margin-top: 60px;">
                    <button type="button" [routerLink]="['/retroalimentacion']" class="btn btn-info"><i class="fas fa-chart-pie"></i> Ver Resultado</button>
                </div>
            </div>
        </div>
    </div>
</div>