<div class="mine-container container">
    <div class="card animated fadeIn" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.541), 0 6px 20px 0 rgba(0, 0, 0, 0.301);">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" [style.width]="porGral + '%'" aria-valuenow="contadorGral" aria-valuemin="0" aria-valuemax="60">{{contadorGral}}/60</div>
                            </div>
                        </div>
                    </div>
                    <h1 class="card-title text-center">¿Qué tanto te agrada?</h1>
                    <h2 *ngIf="pregunta.strPregunta" class="card-subtitle mb-2 text-muted text-center animated fadeIn">{{pregunta.strPregunta}}</h2>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-sm-2 col-md-2 col-lg-2 text-center">
                    <img class="img-form grow" [ngClass]="{'image-dis': !activo}" data-toggle="tooltip" data-placement="top" title="Me agrada bastante" src="../../../assets/5.png" (click)="sumarRespuesta(respuesta[4])">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span (click)="obtenerPorSatisfaccion(respuesta[4])" data-toggle="tooltip" data-placement="bottom" title="Ver respuestas asignadas" class="badge badge-info b-position cursor-bad">{{ contador ? contador[4].cont : 0}} <i class="fas fa-check-circle"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 text-center">
                    <img class="img-form grow" [ngClass]="{'image-dis': !activo}" data-toggle="tooltip" data-placement="top" title="Me agrada algo o en parte" src="../../../assets/4.png" (click)="sumarRespuesta(respuesta[3])">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span (click)="obtenerPorSatisfaccion(respuesta[3])" data-toggle="tooltip" data-placement="bottom" title="Ver respuestas asignadas" class="badge badge-info b-position cursor-bad">{{contador ? contador[3].cont : 0}} <i class="fas fa-check-circle"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 text-center">
                    <img class="img-form grow" [ngClass]="{'image-dis': !activo}" data-toggle="tooltip" data-placement="top" title="Me es indiferente, pues ni me gusta, ni me disgusta" src="../../../assets/3.png" (click)="sumarRespuesta(respuesta[2])">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span (click)="obtenerPorSatisfaccion(respuesta[2])" data-toggle="tooltip" data-placement="bottom" title="Ver respuestas asignadas" class="badge badge-info b-position cursor-bad">{{contador ? contador[2].cont : 0}} <i class="fas fa-check-circle"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 text-center">
                    <img class="img-form grow" [ngClass]="{'image-dis': !activo}" data-toggle="tooltip" data-placement="top" title="Me desagrada algo o en parte" src="../../../assets/2.png" (click)="sumarRespuesta(respuesta[1])">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span (click)="obtenerPorSatisfaccion(respuesta[1])" data-toggle="tooltip" data-placement="bottom" title="Ver respuestas asignadas" class="badge badge-info b-position cursor-bad">{{contador ? contador[1].cont : 0}} <i class="fas fa-check-circle"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 text-center">
                    <img class="img-form grow" [ngClass]="{'image-dis': !activo}" data-toggle="tooltip" data-placement="top" title="Me desagrada mucho o totalmente" src="../../../assets/1.png" (click)="sumarRespuesta(respuesta[0])">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span (click)="obtenerPorSatisfaccion(respuesta[0])" data-toggle="tooltip" data-placement="bottom" title="Ver respuestas asignadas" class="badge badge-info b-position cursor-bad">{{contador ? contador[0].cont : 0}} <i class="fas fa-check-circle"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
            </div>
            <div class="row" *ngIf="detalle" style="margin-top: 60px;">
                <div class="col-12 animated fadeIn fast">
                    <span id="{{item._id}}" (click)="removerPregunta(item._id)" *ngFor="let item of respSat" class="badge badge-info cursor-bad mr-2">{{item.idPregunta.strPregunta}} <i class="fas fa-times-circle"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>