<div class="mine-container container">
    <div class="card animated fadeIn card-shadow">
        <div class="card-body">
            <!-- General -->
            <div class="row mt-5">
                <div class="col-md-12">
                    <h3 class="card-title text-center">Estadística General</h3>
                </div>
                <div class="col-md-6 mt-5">
                    <highcharts-chart class="mt-4" [Highcharts]="HighchartsGral" [constructorType]="chartConstructorGral" [options]="chartOptionsGral" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                </div>
                <div class="col-md-6">
                    <table class="table table-borderless table-hover table-striped table-sm mt-5">
                        <thead>
                            <tr class="d-flex">
                                <th class="col-8">Perfil</th>
                                <th class="col-4">Número de Personas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="d-flex animated fadeIn" *ngFor="let per of perfilGral; let i = index">
                                <td class="col-8">{{i+1}} - {{per.strNombre}}</td>
                                <td class="col-4 text-center">{{per.nmbPersonas}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Filtro Prepa -->
            <div class="row mt-5">
                <div class="col-md-12  mb-5">
                    <h3 class="card-title text-center">Estadística Por Preparatoria</h3>
                </div>
                <div class="col-md-6">
                    <div class="container">
                        <select class="custom-select custom-select-sm mt-1" #t (change)="getEstadisticaPrepa(t.value)">
                            <option *ngFor="let pre of prepa" [value]="pre._id">{{pre.strNombre}}</option>
                        </select>
                    </div>
                    <table class="table table-borderless table-hover table-striped table-sm mt-5">
                        <thead>
                            <tr class="d-flex">
                                <th class="col-8">Perfil</th>
                                <th class="col-4">Número de Personas</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="dataPrepa && dataPrepa.length>1">
                            <tr class="d-flex animated fadeIn" *ngFor="let per of perfil; let i = index">
                                <td class="col-8">{{i+1}} - {{per.strNombre}}</td>
                                <td class="col-4 text-center">{{per.nmbPersonas}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 mt-2">
                    <highcharts-chart class="animated fadeIn" *ngIf="dataPrepa && dataPrepa.length>1" [Highcharts]="Highcharts" [constructorType]="chartConstructor" [options]="chartOptions" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                </div>
            </div>
            <!-- Filtro Rango de Fecha -->
            <div class="row mt-5 mb-5">
                <div class="col-md-12 mb-5">
                    <h3 class="card-title text-center">Estadística General por Rango de Fechas</h3>
                </div>
                <div class="col-4 form-group">
                    <input type="date" class="form-control form-control-sm" name="fechaInicio" [(ngModel)]="fechaInicio">
                </div>
                <div class="col-4 form-group">
                    <input type="date" class="form-control form-control-sm" name="fechaFin" [(ngModel)]="fechaFin">
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-outline-info btn-sm btn-block" (click)="compararFechas(fechaInicio, fechaFin)"><i class="fa fa-search mr-2"></i>Buscar</button>
                </div>
                <div class="col-md-6 mt-5">
                    <highcharts-chart *ngIf="dataGralNameRango && dataGralNameRango.length>1" class="mt-4" [Highcharts]="HighchartsGralRango" [constructorType]="chartConstructorGralRango" [options]="chartOptionsGralRango" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                </div>
                <div class="col-md-6">
                    <table class="table table-borderless table-hover table-striped table-sm mt-5">
                        <thead>
                            <tr class="d-flex">
                                <th class="col-8">Perfil</th>
                                <th class="col-4">Número de Personas</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="dataGralNameRango && dataGralNameRango.length>1">
                            <tr class="d-flex animated fadeIn" *ngFor="let per of perfilGralRango; let i = index">
                                <td class="col-8">{{i+1}} - {{per.strNombre}}</td>
                                <td class="col-4 text-center">{{per.nmbPersonas}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>