<div class="mine-container container">
    <div class="card animated fadeIn card-shadow">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 mt-3">
                    <h3 class="card-title text-center">Indicaciones</h3>
                    <!-- <h3 class="text-center"><i class="fas fa-user-edit"></i></h3> -->
                </div>
                <div class="col-md-12">
                    <p>
                        A continuación se presenta una lista de actividades comunes sobre las cuales puedes haber tenido ya alguna experiencia personal. A medida que leas cada cuestión, piensa: ¿QUÉ TANTO ME AGRADA HACER ESTO?
                    </p>
                    <p>
                        Luego, selecciona un emoji de respuesta según se indica enseguida:
                    </p>
                </div>
                <div class="col-md-12 text-center">
                    <img class="img-form" src="./assets/images/5.png">
                    <p> Significa: "Me agrada bastante"</p>
                </div>
                <div class="col-md-12 text-center">
                    <img class="img-form" src="./assets/images/4.png">
                    <p> Significa: "Me agrada algo o en parte"</p>
                </div>
                <div class="col-md-12 text-center">
                    <img class="img-form" src="./assets/images/3.png">
                    <p> Significa: "Me es indiferente, pues ni me gusta, ni me disgusta"</p>
                </div>
                <div class="col-md-12 text-center">
                    <img class="img-form" src="./assets/images/2.png">
                    <p> Significa: "Me desagrada algo o en parte"</p>
                </div>
                <div class="col-md-12 text-center">
                    <img class="img-form" src="./assets/images/1.png">
                    <p> Significa: "Me desagrada mucho o totalmente"</p>
                </div>
                <div class="col-md-12">
                    <p>
                        Antes de seleccionar cada emoji, procura recordar o imaginar en qué consiste la respectiva actividad. Es necesario que seas lo más sincero al contestar.
                    </p>
                    <p>
                        Cuando estes listo da click en el botón siguiente para comenzar tu prueba.
                    </p>
                </div>
            </div>
            <div class=" row mt-3">
                <div class="col-md-12 text-center">
                    <button (click)="siguiente()" type="button" class="btn btn-outline-info"><i class="fas fa-play"></i> Iniciar</button>
                </div>
            </div>
        </div>
    </div>
</div>