<div class="mine-container container">
    <img id="image" class="img-form grow mb-3" data-toggle="tooltip" data-placement="bottom" title="Regresar al Registro" src="./assets/images/back.png" (click)="registro()">
    <div class="card animated fadeIn card-shadow">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h3 id="title" class="card-title text-center">Resultado de Orientación Vocacional</h3>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-6">
                    <highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor" [options]="chartOptions" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                </div>
                <div class="col-md-6">
                    <h4 id="title_2" class="card-subtitle mb-2 text-muted text-center">{{resultado ? resultado[0].strPerfil: 'Perfil'}}</h4>
                    <p id="parr" class="card-text">{{resultado ? resultado[0].strDesc: 'Descripción'}}</p>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-outline-info" (click)="nuevoIntento()"><i class="fas fa-redo"></i> Intentarlo de Nuevo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>