<div class="mine-container container">
    <div class="card animated fadeIn" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.541), 0 6px 20px 0 rgba(0, 0, 0, 0.301);">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="card-title text-center">Resultado de Orientación Vocacional</h3>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-6">
                    <highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor" [options]="chartOptions" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                </div>
                <div class="col-md-6">
                    <h4 class="card-subtitle mb-2 text-muted text-center">Fisico Nuclear</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, dolore, quod cum fugit quas sequi eveniet maxime omnis quos odit dolores aspernatur sed laboriosam veritatis ex harum, molestiae corrupti quis. Lorem ipsum dolor
                        sit amet consectetur adipisicing elit. Minima voluptate debitis, sequi atque eius ab ut provident vel, ipsam quas sunt quae unde officia accusantium nemo doloribus placeat officiis error. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Odio, suscipit? Quis aliquid quisquam itaque excepturi totam laudantium dolores necessitatibus reprehenderit rem accusamus sint, maiores adipisci ipsa odio deleniti neque voluptas?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>